
  <h1>Profil de <%= User.find(params[:id].to_i).first_name %> <%= User.find(params[:id].to_i).last_name %></h1>

<main class="container">
<div class="card" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Description : <%= User.find(params[:id].to_i).description %></li>
    <li class="list-group-item">Email : <%= User.find(params[:id].to_i).email %></li>
    <li class="list-group-item">Age : <%= User.find(params[:id].to_i).age %></li>
    <li class="list-group-item">Ville : <%= User.find(params[:id].to_i).city.name %></li>
  </ul>
</div>
</main>
